
<div>
  <form action="demo_form.asp">
  SELECT THE MOVIE:
<select name="">
<option value=""> </option>
<option value="Veer">Veer</option>
<option value="Remo">Remo</option>
<option value="Roi">Roi</option>
</select><br><br>
SELECT THE THEATER:
<select name="">
<option value=""> </option>
<option value="PVR">PVR</option>
<option value="Fun mall">Fun mall</option>
<option value="KG">KG</option>
</select><br><br>
<div class="container">
 <button type="button" class="btn btn-primary">ADD</button>
<button type="button" class="btn btn-warning">REMOVE</button>
</div>
</form>
</div>
